@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&family=Silkscreen&display=swap');
@font-face {
    font-family: "Larsseit";
    src: url("../fonts/Larsseit.woff2") format("woff2"), url("../fonts/Larsseit.woff") format("woff");
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Larsseit";
    src: url("../fonts/Larsseit-Medium.woff2") format("woff2"), url("../fonts/Larsseit-Medium.woff") format("woff");
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Larsseit";
    src: url("../fonts/Larsseit-Bold.woff2") format("woff2"), url("../fonts/Larsseit-Bold.woff") format("woff");
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Black.woff2") format("woff2"), url("../fonts/Lato-Black.woff") format("woff");
    font-display: swap;
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Bold.woff2") format("woff2"), url("../fonts/Lato-Bold.woff") format("woff");
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff");
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}
.shapka ul,
.up-footer {
    color: rgb(12, 104, 12);
    font-weight: 700;
}
.shapka h1 {
    font-family: "Larsseit";
    font-weight: 700;
}
.text {
    font-family: "Larsseit";
    font-weight: 400;
}
p a {
    color: red;
}
.text-kirilica h4 {
    font-family: "Lato";
    font-weight: 900;
}
.text-one {
    font-family: "Lato";
    font-weight: 400;
}
.text-kirilica {
    font-family: "Lato";
    font-weight: 700;
}
.text-italic {
    font-style: italic;
}
.text-two {
    font-family: "Larsseit";
    font-weight: 500;
}
.text-three {
    font-family: "Roboto";
    font-weight: 400;
}
.top-book-list h2 {
    font-family: "Roboto";
    font-weight: 900;
}
.top-book-list ol li {
    font-family: "Roboto";
    font-weight: 700;
    color: coral;
}
.top-book-list ul li {
    font-family: "Roboto";
    font-weight: 400;
    color: blue;
}
.the-end h2 {
    font-family: "Silkscreen";
    font-weight: 700;
}
.the-end p {
    font-family: "Silkscreen";
    font-weight: 400;
}
.the-end ul {
    font-family: "Larsseit";
    font-weight: 900;
}