@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Libre+Baskerville:ital,wght@0,700;1,400&family=Noto+Sans+Mono:wght@700&family=Raleway:ital,wght@1,100&display=swap');
.container {
	max-width: 540px;
	background-color: #ffebeb;
	margin: 0 auto;
}
.title {
	font-family: 'Noto Sans Mono', serif;
	font-size: 15px;
	text-align: center;
	letter-spacing: 1px;
	text-shadow: 2.3px 2.3px 5px #000;
	color: rgba(10, 10, 10, 0.644);
	padding-top: 20px;
}
.paragraf {
	font-size: 8px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	margin: 0  0 20px 110px;
}
.paragraf ol {
	margin-left: -10px;
	text-decoration: underline;
	line-height: 13px;
	
}
.title-two {
	font-family: 'Noto Sans Mono', serif;
	font-size: 10px;
	letter-spacing: 0.5px;
	padding-left: 110px;
	color: rgba(0, 0, 0, 0.603);
	margin-left: -60px;
}
.top-content {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 8px;
	line-height: 12px;
	background-color: rgba(151, 196, 255, 0.479);
	padding: 5px 20px 5px;
	margin: 0 50px 20px;
	border-radius: 10px;
	min-width: 200px;
	border: 0.5px solid green;
}
.top-content ul {
	margin-left: -20px;
}
.top-content .href-one {
	padding-left: 30px;
	color: rgb(51, 202, 152);
}
.bold {
	font-weight: 700;
	font-style: italic;
	word-spacing: 1.5px;
}
.italic {
	font-style: italic;
}
.list li {
	font-size: 8px;
	margin: -5px 0 -10px 20px;
	padding-right: 50px;
}
.href-two {
	text-decoration: underline;
	text-transform: uppercase;
	font-size: 6px;
	font-weight: 700;
	color: rgb(126, 3, 3);
}
.title-three {
	font-family: 'Noto Sans Mono', serif;
	font-size: 10px;
	letter-spacing: 0.5px;
	padding-left: 110px;
	color: rgba(0, 0, 0, 0.603);
	margin-left: -60px;
}
.red-line {
	padding-left: 30px;
	margin-bottom: 15px;
	line-height: 15px;
}
.sidneyf {
	margin-bottom: 20px;
}
.list-two {
	margin-left: -20px;
	line-height: 25px;
}
.nav {
	max-width: 30px;
	border: 1px solid white;
	border-radius: 50%;
	text-align: center;
	font-size: 12px;
	background-color: rgba(247, 247, 111, 0.541);
	margin: 0 auto;
	padding: 5px;
}